.tarea-formulario {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.tarea-input {
  width: 350px;
  font-size: 18px;
  background-color: white;
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid rgb(193, 99, 140);
  outline: none;
  margin-top: 20px;
}

.tarea-boton {
  padding: 16px;
  font-size: 18px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background-color: rgb(193, 99, 140);
  color: white;
  text-transform: capitalize;
  margin-top: 20px;
}
